.mainContainer {
    margin-bottom: 100px;
}
.navBar {
    position: relative;
    z-index: 999;
}
.pageContainer {
    height: auto;
}
.footerContainer {
    width: 100%;
    bottom: 0;
}