.songHeading {
    font-size: 30px;
    font-weight: 600;
}

.formContainer {
    font-size: 20px;
    max-width: 90%;
}

.fields {
    font-weight: 600;
}

.editable {
    flex-wrap: wrap;
    width: 100%;
}

.editable input {
    width: 330px;
    font-weight: bold;
}

.formContainer input {

}

.formContainer div {
    margin-bottom: 2px
}

.buttonContainer {
    display: flex;
    width: 205px;
    justify-content: space-between;
}

.formContainer button {
    margin-top: 15px
}

@media (max-width: 640px) {
    .songHeading {
        font-size: 20px;
    }

    .formContainer {
        font-size: 16px;
    }
}