.formContainer {
    font-size: 20px;

}

.editable {
    flex-wrap: wrap;
    width: 100%;
}

.editable input {
    width: 330px;
    font-weight: bold;
}

.formContainer input {

}

.formContainer div {
    margin-bottom: 2px
}

.buttonContainer {
    display: flex;
    width: 205px;
    justify-content: space-between;
}

.formContainer button {
    margin-top: 15px
}
